.font_header {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 40px;
}

.font_header-smaller {
  font-size: 16px;
}

.font_lighter {
  font-weight: 300;
}

.bold {
  font-weight: 900;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 300;
  height: 100%;
}

main {
  width: 85%;
  margin: auto;
}

.shadow {
  box-shadow: #d8d8d8 2px 5px 8px, -2px 5px 8px #d8d8d8;
}

strong {
  font-weight: 300;
}

.show {
  display: block;
}

#products_container {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.product_card {
  background-color: #fff;
  width: 100%;
  max-width: 250px;
  height: 250px;
  height: 100%;
  margin-left: 1em;
  margin-top: 2em;
  margin-right: 2em;
  border-top: 1px solid rgba(194, 194, 194, 0.363);
  position: relative;
}

.product_card h3 {
  margin-top: 0.4em;
}

.product_card img {
  width: 100%;
  height: 70%;
  margin-bottom: 0px;
  padding: 0;
  object-fit: cover;
}

.product_card img {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
}

.product_card--id {
  width: 100%;
  height: 4em;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  height: 100%;
  font-size: 20px;
  margin-top: 4em;
  margin-bottom: 6em;
}

.product_card--id img {
  width: 500px;
  height: 320px;
  margin: 0;
}

.product_card--id .product_description_container {
  margin-left: 1em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}

.product_card--id .select_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.product_card--id .select_btn .btn {
  margin-right: 1.5em;
  min-width: 150px;
  box-shadow: -2px 2px 4px #8721ca, 2px -2px 4px #8721ca;
  background: linear-gradient(rgba(189, 101, 29, 0.822), #8721ca);
}

.product_card--id #lenses_select {
  width: 50%;
  height: 2em;
}

.product_card--id .lenses_label {
  font-size: smaller;
}

.product_description_container {
  margin-left: 0.5em;
}

.product_price {
  padding-bottom: 0.5em;
}

.product_hover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.658);
  color: white;
  font-size: 24px;
}

.product_personalize {
  margin-top: 3em;
}

a {
  text-decoration: none;
  color: black;
  transition: .5s;
}

a:hover {
  color: #9a02a8;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.btn {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(rgba(189, 101, 29, 0.822), #8721ca);
  color: white;
}

.filters_show {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

#filters_hidden {
  display: none;
}

li {
  list-style-type: none;
}

header {
  background-color: #f3e8f0;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_brand_logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1.3em;
}

.header_brand_description h1 {
  margin-bottom: 0;
}

.header_brand_description p {
  margin-top: 0;
}

.header_nav {
  margin-right: 1.5em;
}

.header_nav i {
  font-size: 30px;
  color: #8721ca;
  transition: .5s;
}

.header_nav i:hover {
  color: #9a02a8;
}

.header_nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2em;
  margin-top: 1em;
  position: relative;
}

.header_nav_cart_number {
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: -12px;
  right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgba(189, 101, 29, 0.822);
  color: #fff;
  display: none;
  transform: translateX(-100px) translateY(50px) scale(0);
  animation: numberAppear 1.5s ease-in-out both;
}

footer {
  background-color: #f3e8f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  margin-top: 3em;
}

footer h2 {
  margin: 0;
}

.footer_nav_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 25em;
}

.footer_nav_icons i {
  color: #8721ca;
  font-size: 40px;
}

.footer_nav_icons i:hover {
  color: #9a02a8;
}

.footer_nav_icons a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
}

@keyframes numberAppear {
  0% {
    transform: translateX(-100px) translateY(50px) scale(0);
  }
  30% {
    transform: translateX(-100px) translateY(50px) scale(2);
  }
  100% {
    transform: scale(1);
  }
}
/*# sourceMappingURL=main.css.map */