footer {
    background-color: $primary-color;
    @include flexCenter(column);
    height: 200px;
    margin-top: 3em;

    & h2 {
        margin: 0;
    }
}

.footer_nav_icons {
    @include flex(row, space-between, baseline);
    width: 25em;   
}

.footer_nav_icons i {
   color: $secondary-color;
   font-size: $main-title;
}

.footer_nav_icons a {
    @include flex(column, center, center);
}