header {
    background-color: $background-color;
    height: 100px;
    @include flex(row, space-between, center);
}

.header {
    &_brand_logo { 
        @include flex(row, flex-start, center);
        margin-left: 1.3em;
    }

    &_brand_description h1 {
        margin-bottom: 0;
    }

    &_brand_description p {
        margin-top: 0;
    }

    &_nav {
        margin-right: 1.5em;

        & i {
            font-size: 30px;
            color: $tertiary-color;
            transition: .5s;

            &:hover {
                color: $secondary-color;
            }
        }

        & a {
            @include flex(column, center, center);
            line-height: 2em;
            margin-top: 1em;
            position: relative;
        }

        &_cart_number {
            position: absolute;
            @include flexCenter(column);
            top: -12px;
            right: 5px;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: $primary-color;
            color: $white;
        }


    }

    

    
} 