@mixin btnStyle{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: $normal-size;
}
button{
    cursor: pointer;
    
    &:focus{
        outline: none;
    }
}

.btn {
    @include btnStyle;
    @include flexCenter(row);
    background: linear-gradient($primary-color, $tertiary-color);
    color: white;
}


