.head_slides {
    margin-top: 2em;
    height: 350px; 
    transition: 2s;
    position: relative;
    @include flexCenter(column);
    
    h2 {
        color: $white;
    }
    img {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}