html, body {
    scroll-behavior: smooth;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: $normal-size;
    font-weight: $normal-weight;
    height: 100%; 
}

main {
    width: $almost-full;
    margin: auto;
}

.shadow{
    box-shadow: $shadow;
}

strong {
    font-weight: $normal-weight; 
}

.show {
    display: block;
}

.primary {
    color: $primary-color;
}
