html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: $normal-size;
    font-weight: $normal-weight;
    height: 100%; 
}

main {
    width: $almost-full;
    margin: auto;
}

.shadow{
    box-shadow: $shadow;
}

strong {
    font-weight: $normal-weight; 
}

.show {
    display: block;
}

.primary {
    color: $primary-color;
}

.to_reveal {
    opacity: 0;
    transform: translateY(-30px); 
}

.to_reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.5, 0, .2, .9);
}
