// font-size //
$normal-size: 16px;
$main-title: 40px; 

// font-weight //
$normal-weight: 300;
$max-bold: 900;
$max-thin: 100;

$Times: 'Times New Roman', Times, serif;

.font{
    
    &_header {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: $main-title;

    @include respond-to(mobile) {
        font-size: 25px;
    }
        
        &-smaller {
            font-size: $normal-size;
        }
    }

    &_lighter {
        font-weight: $normal-weight;
    }
}

.bold{
    font-weight: $max-bold;
}
