.font_header {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 40px;
}

@media only screen and (max-width: 640px) {
  .font_header {
    font-size: 25px;
  }
}

.font_header-smaller {
  font-size: 16px;
}

.font_lighter {
  font-weight: 300;
}

.bold {
  font-weight: 900;
}

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 300;
}

main {
  width: 85%;
  margin: auto;
  margin-top: 0px;
}

.shadow {
  box-shadow: #d8d8d8 2px 5px 8px, -2px 5px 8px #d8d8d8;
}

strong {
  font-weight: 300;
}

.show {
  display: block;
}

.primary {
  color: rgba(189, 101, 29, 0.822);
}

.to_reveal {
  opacity: 0;
  transform: translateY(-30px);
}

.to_reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(0.5, 0, 0.2, 0.9);
}

#products_container {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) and (max-device-width: 1024px) {
  #products_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

@media only screen and (max-width: 640px) {
  #products_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

.product_card {
  background-color: #fff;
  width: 100%;
  max-width: 250px;
  height: 250px;
  height: 100%;
  margin-left: 1em;
  margin-top: 2em;
  margin-right: 2em;
  border-top: 1px solid rgba(194, 194, 194, 0.363);
  position: relative;
}

.product_card h3 {
  margin-top: 0.4em;
}

.product_card img {
  width: 100%;
  height: 70%;
  margin-bottom: 0px;
  padding: 0;
  object-fit: cover;
}

@media only screen and (min-width: 768px) and (max-device-width: 1024px) {
  .product_card {
    max-width: 230px;
  }
}

.product_card img {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
  height: 140px;
}

.product_card--id {
  width: 100%;
  height: 4em;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  height: 100%;
  font-size: 20px;
  margin-top: 4em;
  margin-bottom: 6em;
}

@media only screen and (min-width: 768px) and (max-device-width: 1024px) {
  .product_card--id {
    max-width: 100%;
    font-size: 16px;
  }
}

@media only screen and (max-width: 640px) {
  .product_card--id {
    background-color: #fff;
    width: 100%;
    max-width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    font-size: 16px;
  }
  .product_card--id h3 {
    margin-top: 0.4em;
  }
}

@media only screen and (min-width: 768px) and (max-device-width: 1024px) {
  .product_card--id p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 640px) {
  .product_card--id p {
    font-size: 14px;
  }
}

.product_card--id img {
  width: 500px;
  height: 320px;
  margin: 0;
}

@media only screen and (min-width: 768px) and (max-device-width: 1024px) {
  .product_card--id img {
    width: 285px;
    height: 250px;
  }
}

@media only screen and (max-width: 640px) {
  .product_card--id img {
    width: 100%;
    height: 50%;
  }
}

.product_card--id .product_description_container {
  margin-left: 1em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}

.product_card--id #lenses_select {
  width: 50%;
  height: 2em;
}

@media only screen and (max-width: 640px) {
  .product_card--id #lenses_select {
    margin-bottom: 2em;
  }
}

.product_card--id .lenses_label {
  font-size: smaller;
}

@media only screen and (max-width: 640px) {
  .product_card--id .lenses_label {
    align-self: center;
  }
}

.product_description_container {
  margin-left: 0.5em;
}

.product_price {
  padding-bottom: 0.5em;
}

.product_hover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.658);
  color: white;
  font-size: 24px;
  cursor: pointer;
  opacity: 0%;
  transition: 1s;
}

.product_personalize {
  margin-top: 3em;
}

.product_link:hover .product_hover {
  opacity: 100%;
}

a {
  text-decoration: none;
  color: black;
  transition: .5s;
}

a:hover {
  color: #9a02a8;
}

button {
  cursor: pointer;
  transition: .5s;
}

button:hover {
  opacity: 80%;
}

button:focus {
  outline: none;
}

.btn {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(rgba(189, 101, 29, 0.822), #8721ca);
  color: white;
}

.select_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

@media only screen and (max-width: 640px) {
  .select_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.select_btn .btn_add-cart {
  margin-right: 1.5em;
  min-width: 150px;
  box-shadow: -2px 2px 4px #8721ca, 2px -2px 4px #8721ca;
  background: linear-gradient(rgba(189, 101, 29, 0.822), #8721ca);
}

@media screen and (max-width: 768px) {
  .select_btn .btn_add-cart {
    margin-right: 1em;
    min-width: 85px;
    height: 30px;
    font-size: 14px;
    box-shadow: -1px 1px 4px #8721ca, 1px -1px 4px #8721ca;
  }
}

@media only screen and (max-width: 640px) {
  .select_btn .btn_add-cart {
    margin-bottom: 1em;
  }
}

.btn_larger {
  width: 180px;
}

#btn_return_back {
  border: none;
  background-color: #fff;
  text-decoration: underline;
}

#btn_return_back:hover {
  color: #9a02a8;
  transition: .3s;
}

.btn_text_only {
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: underline;
}

.btn_text_only:hover {
  color: #9a02a8;
  transition: .3s;
}

.filters_show {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

#filters_hidden {
  display: none;
}

#input_error {
  color: #d30000;
  margin-bottom: 0px;
}

#form_title {
  margin-bottom: 0px;
  margin-top: .3em;
}

#order_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#order_form label {
  margin-top: 1em;
  margin-bottom: .3em;
}

#order_form input {
  transition: .3s;
}

#order_form #cart_btns {
  margin-top: 1.5em;
}

li {
  list-style-type: none;
}

.head_slides {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2em;
  height: 350px;
  transition: 2s;
  position: relative;
  cursor: pointer;
}

.head_slides img {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.head_slides:hover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.head_slides:hover .slides_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

header {
  background-color: #f3e8f0;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_brand_logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1.3em;
}

.header_brand_description h1 {
  margin-bottom: 0;
}

@media only screen and (max-width: 640px) {
  .header_brand_description h1 {
    font-size: 25px;
  }
}

.header_brand_description p {
  margin-top: 0;
}

@media only screen and (max-width: 640px) {
  .header_brand_description p {
    font-size: 14px;
  }
}

.header_nav {
  margin-right: 1.5em;
}

.header_nav i {
  font-size: 30px;
  color: #8721ca;
  transition: .5s;
}

@media only screen and (max-width: 640px) {
  .header_nav i {
    font-size: 23px;
  }
}

.header_nav i:hover {
  color: #9a02a8;
}

.header_nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2em;
  margin-top: 1em;
  position: relative;
}

@media only screen and (max-width: 640px) {
  .header_nav a {
    font-size: 14px;
  }
}

.header_nav_cart_number {
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: -12px;
  right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgba(189, 101, 29, 0.822);
  color: #fff;
  display: none;
  transform: translateX(-100px) translateY(50px) scale(0);
  animation: numberAppear 1.5s ease-in-out both;
}

footer {
  background-color: #f3e8f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  margin-top: 3em;
}

@media only screen and (max-width: 640px) {
  footer {
    height: 130px;
  }
}

footer h2 {
  margin: 0;
}

@media only screen and (max-width: 640px) {
  footer h2 {
    margin-bottom: .5em;
  }
}

.footer_nav_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 25em;
}

@media only screen and (max-width: 640px) {
  .footer_nav_icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer_nav_icons i {
  color: #8721ca;
  font-size: 40px;
}

@media only screen and (max-width: 640px) {
  .footer_nav_icons i {
    font-size: 23px;
  }
}

.footer_nav_icons i:hover {
  color: #9a02a8;
}

.footer_nav_icons a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home_slides {
  margin-top: -35px;
}

#home_welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 1.5em;
}

#home_welcome h2 {
  color: rgba(189, 101, 29, 0.822);
  margin-bottom: 10px;
}

#home_welcome .btn {
  margin-top: 1em;
}

#home_welcome .btn:hover {
  opacity: 80%;
  color: white;
}

#products {
  margin-top: 10em;
  padding-bottom: 10em;
}

.title_slides {
  display: none;
  color: black;
  background-color: #f3e8f0dc;
  padding: 5px;
  animation: titleAppear 2s ease-in-out;
}

.slides_arrow {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #f3e8f094;
  margin-right: 1em;
  margin-left: 1em;
  border: none;
  display: none;
}

.slides_arrow:hover {
  background-color: rgba(255, 255, 255, 0.712);
  transition: .3s;
  color: #9a02a8;
}

#product_id {
  margin-top: 3em;
}

@media screen and (max-width: 768px) {
  #product_id {
    font-size: 16px;
  }
}

@media only screen and (max-width: 640px) {
  #product_personalize {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

#shopping_cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  #shopping_cart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

@media only screen and (max-width: 640px) {
  #shopping_cart {
    font-size: 14px;
  }
}

#shopping_cart_order {
  margin-top: 2em;
  margin-right: 3em;
  width: 20%;
  position: fixed;
  right: 3em;
}

@media screen and (max-width: 768px) {
  #shopping_cart_order {
    position: inherit;
    width: 100%;
    margin: auto;
  }
}

#shopping_cart_details {
  margin-top: 2em;
  padding-bottom: 2em;
  width: 70%;
}

@media screen and (max-width: 768px) {
  #shopping_cart_details {
    width: 100%;
  }
}

#shopping_cart_customer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 80%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: -3px -3px 3px #fff, 3px 3px 3px #fff;
  text-align: center;
}

@media only screen and (max-width: 640px) {
  #shopping_cart_customer {
    width: 95%;
  }
}

#shopping_cart_customer p {
  margin-bottom: 0px;
}

.title_items_number {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  border-bottom: 1px solid #c2c2c2b9;
}

@media only screen and (max-width: 640px) {
  .title_items_number {
    margin-bottom: 1.5em;
  }
}

.items_number_in_cart {
  margin-left: 3em;
}

.item_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 4em;
  border-radius: 0px;
  height: 120px;
  width: 100%;
  border-bottom: 1px solid #c2c2c2b9;
}

@media only screen and (max-width: 640px) {
  .item_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
  }
}

.item_container img {
  width: 40%;
  height: 100%;
}

.item_title {
  margin-left: .7em;
  margin-top: 0px;
  line-height: 1.5em;
}

.item_lense {
  font-weight: lighter;
  font-size: 16px;
}

@media only screen and (max-width: 640px) {
  .item_lense {
    font-size: 14px;
  }
}

.item_dynamic_details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  width: 60%;
  height: 95%;
}

@media only screen and (max-width: 640px) {
  .item_dynamic_details {
    width: inherit;
    margin-bottom: .5em;
  }
}

.item_img_description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
  height: 90%;
  margin-top: .4em;
}

@media only screen and (max-width: 640px) {
  .item_img_description {
    width: inherit;
    margin-bottom: 2em;
  }
}

.item_price, .item_price--total {
  position: relative;
}

@media only screen and (max-width: 640px) {
  .item_price, .item_price--total {
    font-size: 14px;
    font-weight: inherit;
  }
}

.item_price_title, .item_price--total_title {
  position: absolute;
  top: -5.5em;
}

@media only screen and (max-width: 640px) {
  .item_price_title, .item_price--total_title {
    top: -10em;
    font-weight: inherit;
  }
}

.item_price--total {
  color: rgba(189, 101, 29, 0.822);
}

.item_price--total_title {
  left: -10px;
}

.item_price--total--all {
  color: rgba(189, 101, 29, 0.822);
}

#items_order {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #f3e8f0;
}

#valid_order {
  margin-top: 1em;
  font-size: larger;
  padding-bottom: 3em;
}

@media only screen and (max-width: 640px) {
  #valid_order {
    font-size: 16px;
  }
}

.title_order_print {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.order_info {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2em;
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  box-shadow: inset -3px -3px 20px rgba(0, 0, 0, 0.5), inset 3px 3px 20px black;
  background: radial-gradient(#fff 50%, #f3e8f0, #727272, rgba(189, 101, 29, 0.822));
}

@media screen and (max-width: 768px) {
  .order_info {
    width: inherit;
    margin: 0 auto;
    height: inherit;
  }
}

.order_info h3 {
  line-height: 1.5em;
}

.order_info span {
  color: rgba(189, 101, 29, 0.822);
}

#background_shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.678);
  visibility: hidden;
  opacity: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s;
}

@keyframes numberAppear {
  0% {
    transform: translateX(-100px) translateY(50px) scale(0);
  }
  30% {
    transform: translateX(-100px) translateY(50px) scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes titleAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*# sourceMappingURL=main.css.map */