#home_presentation {
    margin-top: -35px;
}

#products {
    margin-top: 3em;
}

.title_slides {
    display: none;
    color: black;
    background-color: #f3e8f0dc;
    padding: 5px;
    animation: titleAppear 2s ease-in-out;
}

