#home {
    &_slides {
        margin-top: -35px;
    }
    &_welcome {
        @include flexCenter(column);
        text-align: center;
        margin-top: 1.5em;

        h2 {
            color: $primary-color;
            margin-bottom: 10px;
        }

        .btn {
            margin-top: 1em;

            &:hover {
                opacity: 80%;
                color: white;
            }
        }
    }
}

#products {
    margin-top: 10em; 
    padding-bottom: 10em;
}

.title_slides {
    display: none;
    color: black;
    background-color: #f3e8f0dc;
    padding: 5px;
    animation: titleAppear 2s ease-in-out;
}

.slides_arrow { 
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #f3e8f094;
    margin-right: 1em;
    margin-left: 1em;
    border: none;
    display: none;

    &:hover {
        background-color: rgba(255, 255, 255, 0.712);
        transition: .3s;
        color: $secondary-color;
    }
}

