#shopping_cart {
    @include flex(row, space-between, flex-start);

    &_order {
        margin-top: 2em;
        margin-right: 3em;
        width: 20%;
        position: fixed;
        right: 3em;
    }
    
    &_details {
        margin-top: 2em;
        padding-bottom: 2em;
        width: 70%;
    }
    
    &_customer { 
        @include flexCenter(column);
        width: 30%;
        height: 80%;
        background-color: $white;
        border-radius: 20px;
        box-shadow: -3px -3px 3px $white,
                    3px 3px 3px $white;
        text-align: center;
    
        p{
            margin-bottom: 0px;
        }
    }
}

.title_items_number {
    @include flex(row, flex-start, baseline);
    border-bottom: 1px solid #c2c2c2b9;
}

.items_number_in_cart {
    margin-left: 3em;
}

.item {

    &_container {
    @include flex(row, flex-start, flex-start);
    @include rectangularCard(0px);
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #c2c2c2b9;

        img {
            width: 40%;
            height: 100%;
        }
    }
    &_title {
        margin-left: .7em;
        margin-top: 0px;
        line-height: 1.5em;
    }
    &_lense {
        font-weight: lighter;
        font-size: $normal-size;
    }
    &_dynamic_details {
        @include flex(row, space-around, flex-end);
        width: 60%;
        height: 95%;
    }
    &_img_description {
        @include flex(row, flex-start, flex-start);
        width: 40%;
        height: 90%;
        margin-top: .4em;
    }
    &_price, &_price--total {
        position: relative;
    }
    &_price_title, &_price--total_title {
       position: absolute;
       top: -5.5em;
    }
    &_price--total {
        color: $primary-color;
    }
    &_price--total_title {
        left: -10px;
    }
    &_price--total--all {
        color: $primary-color;
    }
}
#items_order {
    @include flex(column, space-around, center);
    width: 100%;
    height: 150px;
    background-color: $background-color;
}



