@mixin btnStyle{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: $normal-size;
}
button{
    cursor: pointer;
    transition: .5s;

    &:hover {
        opacity: 80%;
    }
    
    &:focus{
        outline: none;
    }
}
.btn {
    @include btnStyle;
    @include flexCenter(row);
    background: linear-gradient($primary-color, $tertiary-color);
    color: white;

}
.select_btn {
    @include flex(row, space-between, baseline);
    width: 100%;

    @include respond-to(mobile) {
        @include flexCenter(column);
    }
    
    .btn_add-cart {
        margin-right: 15px;
        min-width: 150px;
        box-shadow: -2px 2px 4px $tertiary-color,
                    2px -2px 4px $tertiary-color; 
        background: linear-gradient($primary-color, $tertiary-color);

        @media screen and (max-width: $handheld) {
            margin-right: 1em;
            min-width: 85px;
            height: 30px;
            font-size: 14px;
            box-shadow: -1px 1px 4px $tertiary-color,
                        1px -1px 4px $tertiary-color; 
        }
        @include respond-to(mobile) {
            margin-bottom: 1em;
        }
    }
}
.btn_larger {
    width: 180px;
}
#btn_return_back {
    border: none;
    background-color: $white;
    text-decoration: underline;
    
    &:hover {
        color: $secondary-color;
        transition: .3s;
    }
}
.btn_text_only {
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: underline;

    &:hover {
        color: $secondary-color;
        transition: .3s;
    }
}



