// input //
@mixin inputStyle($input) {
    outline: none;
    border: none;
    color: black;
    font-weight: bold;

    @if $input != $white{
        background-color: darken($input, 5%);

        &::placeholder{
            color: rgb(73, 73, 73);
            padding-left: 11px;
        }
    }
}
#input_error {
    color: $error-color;
    margin-bottom: 0px;
}

// form
#form_title {
    margin-bottom: 0px;
    margin-top: .3em;
}
#order_form {
    @include flexCenter(column);

    label {
        margin-top: 1em;
        margin-bottom: .3em;
    }

    input {
        transition: .3s;
    }

    #cart_btns { 
        margin-top: 1.5em; 
    }
}

#error_firstName, #error_lastName, #error_city, #error_email {
    color: rgb(211, 0, 0);
}